<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>投稿一覧</title>
</head>

<body>
    <header>
        <h1>
            Blog
        </h1>
        <a href="/home"><input type="button" value="ホーム"></a>
        <a href="/blogs"><input type="button" value="一覧"></a>
        <a href="/new/blog"><input type="button" value="投稿"></a>
    </header>
    <h2>
        投稿一覧
    </h2>
    <li>
        <table>
            <tr th:each="blog:${blogs}">
                <td class="contain">
                    <a th:href="@{/blogs/{id}/find(id=${blog.id})}">
                        <span th:text="${blog.title}">ここにブログのタイトルが表示されます</span><br>
                        <span th:text="${#temporals.format(blog.dateTime,'MM/dd HH:mm')}">ここにブログの登録日が表示されます</span><br>
                        <!-- <small th:text="${blog.text}"></small> -->
                    </a>
                    <form th:action="@{/blogs/{id}/delete(id=${blog.id})}" method="post">
                        <input type="submit" value="削除">
                    </form>
                </td>
            </tr>
        </table>
    </li>
</body>

</html>