<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投稿一覧</title>
</head>
<body>
       <header>
        <h1>
            Blog
        </h1>
        <a href="/home"><input type="button" value="ホーム"></a>
        <a href="/blogs"><input type="button" value="投稿一覧"></a>
        <a href="/new/blog"><input type="button" value="投稿"></a>
    </header>
    <h2>
      投稿一覧
    </h2>
    <li th:each="blog:${blogs}"></li>
</body>
</html>